.app{
    margin: 20px 100px;
}
.total-amount-cont{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
.heading{
    text-align: center;
}

.transaction-card{
    border: 1px solid #ccc;
    padding: 10px 10px;
    width: 700px;
    display: block;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;

}
.transaction-amount{
    padding: 2px 10px;
    font-size: 25px;
    font-weight: bold;
}
.credit-ammount{
    color: green;
}
.debit-ammount{
color: red;
}
.transaction-category{
    position: absolute;
    top:2px;
    right: 80px;
    font-size: 22px;

}
.edit-icon{
    position: absolute;
    top:3px;
    right: 5px;
    height: 30px;
    cursor: pointer;
}
.delete-icon{
    position: absolute;
    bottom:5px;
    right: 5px;
    height: 30px;
    cursor: pointer; 
}
.description-div{
    display: flex;
   align-items: center;
}
.transaction-date{
    position: absolute;
    bottom:20px;
    right: 80px;
    font-size: 20px;
  
}
.transaction-description{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.transactiontype{
    background-color: #ffff;
    padding: 5px 20px;
    border-bottom: 2px solid black;
    border-radius: 10px;

}    

@media screen and (max-width: 768px) {
    .transaction-card{
        border: 1px solid #ccc;
        padding: 10px 10px;
        width: 350px;
        display: block;
        margin: 10px auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        position: relative;
     
    }
    .total-amount-cont{
        width: 200px;
        font-size: 15px;
        flex-direction: column;
    
    }
    .transactiontype{
        background-color: #ffff;
        padding: 3px 15px;
        border-bottom: 2px solid black;
        border-radius: 10px;
        margin: 15px;
    
    }    
    .description-div{
        flex-direction: column;
    }
    .transaction-date{
        bottom:35px;
        right: 40px;
        font-size: 20px;
    }
    .transaction-description{
        font-size: 20px;
        bottom: 10px;
    
    }
}