.nav{
    background-color: white;
    margin: 0;
   padding: 1px 10px;
   display: flex;
   justify-content: space-between;
  align-items: center;
   
}
.navbar-links{
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
}
.logout-btn{
    font-size: 20px;
    cursor: pointer;
    background-color:rgb(215, 224, 250);
    padding:5px 10px;

}
.loged-user-name{
    font-size: 20px;
}